/* CUSTOM PROPERTIES */
:root {
    --fuenteHeading: 'Dela Gothic One';
    --fuenteParrafos: 'Montserrat', sans-serif;

    --negro: #000000;
    --blanco: #FFFFFF;
    --primario: rgb(255, 225, 0);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.5rem;
    line-height: 2rem;
}

/* Propiedades globales */
.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--negro);
}

a:hover {
    text-decoration: none;
    color: var(--negro);
}

h1 {
    font-family: var(--fuenteHeading);
    font-size: 2rem;
    color: var(--negro);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
    font-weight: bolder;
}

h1, h2, h3 {
    line-height: 1.2;
}

img {
    max-width: 100%;
}

.titulos {
    text-transform: uppercase;
    font-family: var(--fuenteHeading);
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.textos {
    font-family: var(--fuenteParrafos);
    margin-top: 0;
    margin-bottom: 5rem;
    text-align: center;
}

/* MEDIA QUERY: CUSTOM PROPERTIES */
@media (min-width: 768px) {
    :root {
        --fuenteHeading: 'Dela Gothic One';
        --fuenteParrafos: 'Montserrat', sans-serif;
    
        --negro: #000000;
        --blanco: #FFFFFF;
        --primario: rgb(255, 225, 0);
    }
    
    html {
        box-sizing: border-box;
        font-size: 62.5%;  
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    body {
        font-family: var(--fuenteParrafos);
        font-size: 1.6rem;
        line-height: 2rem;
    }
    
    /* Propiedades globales */
    .container {
        width: min(90%, 120rem);
        margin: 0 auto;
    }
    
    a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--negro);
    }
    
    a:hover {
        text-decoration: none;
        color: var(--negro);
    }
    
    h1 {
        font-family: var(--fuenteHeading);
        font-size: 5rem;
        color: var(--negro);
    }
    
    h2 {
        font-size: 5rem;
    }
    
    h3 {
        font-size: 2rem;
        font-weight: bolder;
    }
    
    h1, h2, h3 {
        line-height: 1.2;
    }
    
    img {
        max-width: 100%;
    }
    
    .titulos {
        text-align: left;
    }
    
    .textos {
        font-family: var(--fuenteParrafos);
        margin-top: 0;
        margin-bottom: 5rem;
        text-align: left;
        margin-right: 28rem;
    }
}

/* Estilos Botones */
.boton {
    background-color: var(--primario);
    color: var(--negro);
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 2.5rem;
}

.nosotros-boton, .showme-boton {
    margin-top: 5rem;
}

.boton-enviar > input {
    border: none;
    margin-bottom: 3rem;
}

/* Estilos Navbar */
.navbar {
    padding-bottom: 5rem;
}

.menu-drop {
    background-color: none;
    border: none;
    text-transform: uppercase;
}

.active {
    background-color: var(--primario);
}

.enlace-navbar:hover {
    color: var(--primario);
}

/* Estilos About Us */
.centrar-elementos {
    display: flex;
    text-align: center;
}

@media (min-width: 768px) {
    .centrar-elementos {
        margin: 0 auto;
        display: flex;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .nosotros {
        text-align: justify;
        padding-bottom: 2rem;
    }    
}

.nosotros-contenido > h2 {
    font-family: var(--fuenteHeading);
}

.nosotros-contenido > p {
    font-family: var(--fuenteParrafos);
    margin-top: 3rem;
}

.nosotros-imagen {
    margin-top: 5rem;
    align-items: center;
}

@media (min-width: 768px) {
    .nosotros-imagen {
        margin: 0 auto;
    }
}

/*Estilos tarjetas productos*/
@media (min-width: 768px) {
    .tarjeta {
        margin: 1rem 1rem 1rem 1rem;
        position: relative;
    }

    .overlay {
        display: flex;
        box-sizing: border-box;
    }

    .texto-overlay {
        text-transform: uppercase;
        font-weight: bolder;
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
        margin-top: 50%;
        width: 100%;
    }

    .tarjeta:hover .overlay-small {
        display: block;
        position: absolute;
        height: 100%;
        width: 75.5%;
        z-index: 10;
        top: 0;
        left: 60;
        background-color: rgba(255, 225, 0, .5);
    }
}

.tarjeta {
    margin: 1rem 1rem 1rem 1rem;
    position: relative;
}

.overlay {
    display: none;
    box-sizing: border-box;
}

.tarjeta:hover .overlay{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(255, 225, 0, .5);
}

.texto-overlay, .texto-overlay-largo {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 35%;
    width: 100%;
}

.texto-overlay-largo {
    margin-top: 60%;
}

.texto-overlay-blog {
    width: 20%;
}

.showme-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Estilos de Iconos */
.iconos {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-left: 6rem;
    gap: 2rem;
}

@media (min-width: 768px) {
    .iconos {
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }
}

/* Estilos de los Perfiles */
@media (min-width: 768px) {
    .perfil {
        position: relative;
    }
    
    .overlay-perfil {
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 0;
        height: 5rem;
        width: 20rem;
        background-color: var(--primario);
    }
    
    .texto-overlay-perfil {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;
        line-height: 1rem;
        font-size: 1.2rem;
    }

    .texto-overlay-perfil span {
        font-weight: bolder;
    }

    .texto-overlay-perfil > p {
        color: var(--blanco);
    }
    
    .texto-perfil {
        padding-top: 10rem;
    }

    .texto-perfil > h3 {
        text-align: left;
    }

    .texto-perfil > p {
        text-align: left;
    }
    
    .texto-perfil > a {
        text-transform: none;
        text-align: justify;
    }
}

.perfil {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.perfil img {
    padding-bottom: 2rem;
}

.overlay-perfil {
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 20;
    height: 5rem;
    width: 20rem;
    background-color: var(--primario);
}

.texto-overlay-perfil {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    line-height: 1rem;
    font-size: 1.2rem;
}

.texto-overlay-perfil span {
    font-weight: bolder;
}

.texto-overlay-perfil > p {
    color: var(--blanco);
}

.texto-perfil {
    margin-top: 2rem;
    text-align: center;
}

.texto-perfil a {
    text-transform: none;
}

/* Estilos Formulario */
.formulario p {
    font-size: 1.4rem;
    color: var(--blanco);
    margin: 2rem 0 0 0;
}

.formulario legend {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--negro);
    margin-bottom: 3rem;
}

.formulario label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

.formulario input:not([type="submit"]), textarea, select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: var(--blanco);
    border: 1px solid var(--blanco);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.formulario textarea {
    height: 7rem;
}

.formulario .forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
